@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #121213;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

input {
    caret-color: transparent;
}

:focus-visible {
    box-shadow: none;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

:-moz-focus-inner {
    border-width: 0px;
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
